<header class="main-header" style="position: relative;z-index: 851;">
  <div class="primer-header">
    <a href="http://www.udenar.edu.co" class="navbar-brand">
      <img class="img-logo" src="http://sapiens.udenar.edu.co/cdn/images/logoudenar.svg">
    </a>
    
  </div>

  <div class=" titulomodulo">
    <h4 class="titulo1" style="text-align: center;">Módulo Estudiante</h4>
  </div>

  <!--Navbar-->
  <nav class="navbar navbar-static-top">
    <div class="container_fluid">
      <div class="navbar-header">
      </div>
      <div class="navbar-custom-menu pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="iconosmenu">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
              <img src="http://sapiens.udenar.edu.co/cdn/images/contraer.svg">
            </a>
            <a href="#" ng-click="navvm.redir(1)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <img src="http://sapiens.udenar.edu.co/cdn/images/dashboard.svg">
            </a>
            <a href="#" ng-click="navvm.redir(2)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <img src="http://sapiens.udenar.edu.co/cdn/images/menu.svg">
            </a>

            <a href="#" class="dropdown-toggle " data-toggle="dropdown">                  
              <span class="hidden-xs user-name ng-binding">FULANITO PEREZ</span>
              <img src="http://sapiens.udenar.edu.co/cdn/images/avatar.svg" class="img-user">
            </a>
          </li> 
          
          
      </ul>
    </div>
    
  </div>
</nav>

<div class="title_unidad" id="falsonav">
  <div class="row">      
    <div class="col-sm-12">
      <!--<h4>{{navvm.nombre}} - {{navvm.anio}}</h4>-->

    </div>
  </div>
</div>
</header>

