<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 391px; height:540px;">
    <div>
        <h3 style="text-align: center;">Asignaturas</h3>
    </div>
    
    <ul class="nav nav-pills flex-column">
        <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Sistemas Operacionales II
            </a>
          </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Electiva de Programación Avanzada II
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Eletiva de Redes II
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Ingles V
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Sistemas Expertos
        </a>
      </li>
    </ul>
    <hr>
    
  </div>
  

  
