<div class="container">
    <div class="row">
      <div class="col">
        <h1> {{titulo_articulos}}</h1>
      </div>
    </div>
    <hr>
    <!--
    <form class="form-row">
      <div class="form-group col-md-2">
         <label for="nombre" >Nombre</label>
         <input type="text" class="form-control" name="nombre" placeholder="Nombre de persona" [(ngModel)]="nombreInput" >
      </div>
      <div class="form-group col-md-2">
        <label for="apellido" >Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Apellido de persona" [(ngModel)]="apellidoInput" >
     </div>
     <div class="col">
       <button type="submit" class="btn btn-primary" (click)="agregarPersona()">Agregar Persona</button>
     </div>
  
    </form>
  
    <div class="row">
      <div class="col">
        <div *ngFor="let persona of personas; let i=index" >
          {{ i+1 }} - {{ persona.nombre }} - {{ persona.apellido }}
        </div>
      </div>
    </div>
  </div>
  -->

<div class="container">
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Borrar</th>
            <th scope="col">Seleccionar</th>
          </tr>
        </thead>
        
        
        <tbody >
          <tr *ngFor="let articulo of articulos; let i=index">
            <th scope="row">{{ articulo.codigo}}</th>
            <td>{{articulo.descripcion}}</td>
            <td>{{articulo.precio}}</td>
            <td><button class="btn btn-danger" name="arborrar" (click)="borrarArticulo(i)">Borrar</button></td>
            <td><button class="selecionar btn btn-primary" name="arselect" (click)="selectArticulo(i,true)">Select</button></td>
            <style>.selecionar:hover{color: #000;}</style>
          </tr>
         
        </tbody>
      </table>

    <hr>
    <div >
      <form action="" #losarticulos="ngForm">
        <div >
          <label for="codigo" style="margin-right: 10px;">
              <input class="form-control" type="number" min="0"  [(ngModel)]="codigoInput" name="codigo">
          </label>

          <label for="descripcion" style="margin-right: 10px;">Descripción
            <input class="form-control" type="text" [(ngModel)]="descripcionInput" name="descripcionInput">
          </label>

          <label for="precio" style="margin-right: 10px;">Precio
            <input class="form-control" type="number" min="0" [(ngModel)]="precioInput" name="precioInput">
          </label>

        </div>  
   
     
      
        <div style="margin-top: 15px;">
          
          <button class="btn btn-success" type="submit" (click)="agregarArticulo()" >Agrear</button>&nbsp;
          <button class="btn btn-primary"   (click)="modificarArticulo()">Modificar</button>
        </div>
      </form>
        
  
    
</div>
<!--
<p *ngIf="false ; else sinMostrar"></p>Esto se puede observar </p>
<ng-template #sinMostrar>
    <h6>Muestra si es falso</h6>
</ng-template>-->   
